img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}

// .introducao {
//   margin-top: 120px;
// }

.flexbox {
  display: flex;
}

.formulario {
  margin-left: 5px;
}

.tabela {
  margin-top: 10px;
  margin-left: 310px;
}



