img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}

.introducao {
  margin-top: 120px;
}

.table tr th {
  @include tipo-2(18);
  text-align: center;
}

.table tr td {
  font-size: 16px;
  text-align: center;
}

.introducao-interna {
  width: 100%;
  margin-top: 92px;
  /* esse é o tamanho exato da nossa header. precisamos fazer isso pois o header esta como position fixed. */
  height: 160px;
  text-align: center;
  color: $white;
  padding-top: 30px;
}

.introducao-interna h1 {
  @include tipo-1(36);
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $white;
  margin: 6px auto 10px auto;
}
