.categorias {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-card {
  display: flex;
}

.categoria-form {
  padding-right: 10px;
  flex: 2 1 200px;
}

.btn-save-home {
  border-style: none;
  background-color: $green;
  padding: 12px 87px;
  border-radius: 10px;
  color: white;
  @include tipo-2(14);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.table-home {
  padding-left: 20px;
  flex: 2 1 260px;
}

