<%= render 'form' %>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Vencimento</th>
      <th scope="col">Fechamento</th>
    </tr>
  </thead>
  <tbody>
    <% @credit_cards.each do |creditcard| %>
      <tr>
        <td><%= link_to creditcard.name.titleize, edit_credit_card_path(creditcard) %></td>
        <td><%= creditcard.due_day %></td>
        <td><%= creditcard.best_day.strftime("%d/%m/%y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>