<header class="header">
  <div class="container">
    <%= link_to image_tag("https://res.cloudinary.com/dannieltung/image/upload/v1630539954/bikcraft_wwmxqe.svg", alt: "Trikalias"), root_path, class: "grid-4" %>
    <nav class="header-menu grid-12">
      <ul>
        <li><%= link_to "Cartão de Crédito", credit_cards_path %></li>
        <li><%= link_to "Categoria", categories_path %></li>
        <li><%= link_to "Usuário", buyers_path %></li>
      </ul>
    </nav>
  </div>
</header>