<section>
  <%= simple_form_for @buyer do |f| %>
    <section>
      <label for="name">
        <p>Nome</p>
      </label>
      <%= f.input :name, label: false %>
    </section>
    <% unless controller.action_name == 'index' %>
      <%= link_to 'Cancelar', :back, class: 'btn-cancel' %>
    <% end %>
    <%= f.submit 'Salvar', class: 'btn-save' %>
  <% end %>
</section>