<%= simple_form_for [Buyer.new] do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.submit "Salvar", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
<% @buyers.each do |buyer| %>
  <p><%= buyer.name %></p>
<% end %>