<div class="container">
  <%= simple_form_for [Buyer.new] do |f| %>
    <%= f.input :name, label: 'Nome' %>
    <%= f.submit "Salvar", class: 'btn btn-success btn-lg btn-block' %>
  <% end %>
  <ul>
    <% @buyers.each do |buyer| %>
      <li><%= buyer.name %></li>
    <% end %>
  </ul>
</div>