<%= render 'form' %>
<br>
<ul>
  <% @categories.each do |category| %>
    <li>
      <!-- não esta aparecendo o icone na view por conta do reset -->
      <%= link_to category_path(category), method: :delete, data: { confirm: "Apagar #{category.name}?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
      <%= link_to category.name, edit_category_path(category) %>
    </li>
  <% end %>
</ul>